      div.panel-default{
        background-color: #fefefe;
        /*border: 0.25em solid orange;*/
        min-height: 43em;
        margin: 0;
        padding: 0.25em;
      }

      div.panel-default > div.panel-heading{
        /*background-color: inherit;*/
        /*border: 0.25em solid blue;*/
        background-color: inherit;
        border: none;
        padding: 0.25em;
      }

      div.panel-default h4{
        background-color: inherit;
        color: #23527c;
        margin: 0;
        padding-bottom: 0.5em;
        text-align: left;
      }

      div.panel-default .form-control{
        height: 1.25em;
        padding: 0;
      }

      table.table-hover tr:hover{
        background-color: #dddddd;
      }

      table.table tbody > tr.elegido, table.table tbody > tr.elegido:nth-child(odd){
        background-color: #ffb3b3;
      }

      table.table{
        margin: 0;
      }

      table.table > thead > tr > th, table.table > tbody > tr > td{
        border-bottom-width: 0.125em;
        padding: 0.125em 0.5em;
        white-space: nowrap;
        width: 15em;
        text-align: center;
      }

      div.td_data{
        height: 1.25em;
      }

      .div-input-focus{
        background-color: #fefefe;
        border-color: orange;
        color: #000000;
      }

      div.panel-default table{
        color: #23527c;
      }

      div.panel-default h5{
        color: #23527c;
        margin: 0.25em;
      }

      div.panel-default label{
        color: #23527c;
        font-size: small;
      }

      div[class*="col"] > div.row{
        margin: 0;
      }

      div.panel-default > div.panel-body{
        /*border: 0.25em solid black;*/
        height: 80%;
        padding: 0em 0.25em;
      }

      div.panel-body > ul.nav-tabs{
        background-color: #ff3300;
      }

      div.panel-body > ul.nav-tabs li{
        /*border: 0.25em solid yellow;*/
        border: none;
        padding: 0;
      }

      div.panel-body > ul.nav-tabs li.active a{
        background-color: #e62e00;
      }

      div.panel > div.panel-body > ul.nav-tabs a{
        /*border: 0.25em solid black;*/
        color: #fefefe;
        cursor: pointer;
        display: block;
        font-size: normal;
        margin: 0;
        overflow: hidden;
        padding: 0.25em 0.3em;
        text-overflow: ellipsis;
        width: 100%;
      }

      div.panel > div.panel-body > ul.nav-tabs a:hover{
        background-color: #e62e00;
      }

      /*
      div.panel > div.panel-body > ul.nav-tabs a.active{
        border: 0.25em solid #ff6600;
        border-bottom: none;
      }*/

      div.panel-body > div.tab-content{
        /*border: 0.25em solid green;*/
        /*border-bottom: 0.25em solid #23527c;*/
        height: 32em;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0.25em;
      }

      form.mini-form{
        padding:10em 5em;
      }

      form.mini-form label{
        font-size: normal;
      }

      div.form-group{
        margin: 0;
      }


      div.panel-default > div.panel-footer{
        /*border: 0.25em solid red;*/
        border: none;
        padding: 0.25em;
      }

      .container-fluid{
        background-color: transparent;
        padding-top: 3em;
      }

      nav.navbar-blue div.navbar-header a, nav.navbar-blue ul.navbar-top-links a{
        color: #fdfdfd;
      }

      .navbar-top-links > li.navbar-blue > a:focus{
        background-color: #23527c;
      }

      nav.navbar-blue{
        background-color: #23527c;
        border: none;
        color: #fdfdfd;
      }

      @media only screen and (max-width: 1280px){
        .nav-tabs > li{
          display: block;
          width: 50%;
        }

        div.panel > div.panel-body > ul.nav-tabs a{
          background-color: none;
          /*border-bottom: 0.25em solid #23527c;*/
          cursor: pointer;
          display: inline;
          font-size: small;
          margin: 0;
          overflow: hidden;
          padding: 0;
          /*text-align: center;*/
          text-overflow: ellipsis;
        }

        div.panel > div.panel-body div.form-group label{
          color: #23527c;
          cursor: default;
          font-size: small;
          margin: 0;
          padding: 0;
        }
      }